version: "3.8"

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: gamelist-backend
    ports:
      - "8080:8080"
    depends_on:
      db:
        condition: service_healthy
    env_file:
      - .env
    environment:
      SPRING_PROFILES_ACTIVE: dev
    restart: unless-stopped

  frontend:
    image: node:lts-slim
    container_name: gamelist-frontend-dev
    ports:
      - "4201:4200"
    volumes:
      - ./frontend/gamelist-frontend:/app
      - /app/node_modules
    working_dir: /app
    command: >
      sh -c "npm install &&
             npx ng serve --host 0.0.0.0 --port 4200"
    depends_on:
      - backend

  db:
    image: mysql:8.0
    container_name: gamelist-db
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: gamelist
      MYSQL_USER: gamelist
      MYSQL_PASSWORD: gamelist
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "--silent"]
      interval: 10s
      timeout: 5s
      retries: 5

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: gamelist-phpmyadmin
    depends_on:
      - db
    environment:
      PMA_HOST: db
      PMA_USER: gamelist
      PMA_PASSWORD: gamelist
    ports:
      - "8081:80"
    restart: unless-stopped

volumes:
  db_data:
