<div class="game-list-root">
  <div *ngIf="loading" class="loading">Carregando...</div>
  <div *ngIf="error" class="error">{{ error }}</div>

  <div *ngIf="!loading && games.length" class="grid">
    <a *ngFor="let g of games" class="card" [routerLink]="['/games', g.id]"
       role="button"
       tabindex="0"
       [attr.aria-label]="'Abrir ' + g.name">

      <div class="cover" aria-hidden="true">
        <img 
          *ngIf="g.coverUrl || g.cover?.url; else noImage"
          [src]="getHighResImage(g.coverUrl ?? g.cover?.url)"
          (error)="onCoverError($event)"
          alt="{{ g.name }}"
          loading="lazy"
        />
        <ng-template #noImage>
          <img src="../../../assets/placeholder.svg" alt="placeholder" />
        </ng-template>
      </div>

      <div class="meta">
        <h3 class="title">{{ g.name }}</h3>
        <div class="subinfo">
          <span class="rating">{{ g.rating ? (g.rating | number:'1.0-0') : '-' }}</span>
          <span class="genres" *ngIf="g.genresNames?.length">
            {{ (g.genresNames?.slice(0) || []).join(', ') }}
          </span>
        </div>
      </div>

    </a>
  </div>

  <div *ngIf="!loading && !games.length" class="empty">
    Nenhum jogo encontrado
  </div>
</div>
